<a href="https://colab.research.google.com/github/hanno2/myfirstrepository/blob/main/kopie_von_for_schleifen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Klassische C-ähnliche for-Schleife (mit range)

Diese Schleife gibt die Zahlen von 0 bis 4 aus:

```
for (int i = 0; i < 5; i++) {
    printf("%d\n", i);
}
```

`int i = 0` - `i` Zählervariable, i steht für Iterationen bzw. Wiederholungen, die Zählervariable wird mit dem Wert 0 initialisiert

`i < 5` - die Abbruchsbedingung fuer die Schleife

`i++` - `i++ = i + 1` Erhoeung des Wertes der Variable um 1

Diese Schleife gibt die Zahlen von 10 bis 0 aus:

```
for (int i = 10; i > 0; i--) {
    printf("%d\n", i);
}
```

In Python schreibt man solche Schleifen viel einfacher:
```
for i in range(5):
    print(i)

```

Diese Schleife startet bei 0, laeuft bis 5 (exklusiv), Schrittweite 1
```
for i in range(0, 5, 1):  
    print(i)
```

In [ ]:
def main():

    for i in range(5):
        print(i)
if __name__ == "__main__": main()

0
1
2
3
4

In [ ]:
for i in range(5):  # Zählt von 0 bis 4
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

## 2. Durch Listen iterieren

Die Variable `zahl`repraesentiert jedes Element in der Liste.

In [ ]:
zahlen = [10, 20, 30, 40]

for zahl in zahlen:
    print(zahl * 30)

300
600
900
1200

## 3. Durch Strings iterieren

In [ ]:
word = "Python"

for character in word:
    print(character)

P
y
t
h
o
n

## 4. Indizes mit `enumerate()`

In [ ]:
zahlen = [10, 20, 30, 40]

for index, wert in enumerate(zahlen):
    print(f"Index {index}: Wert {wert}")

Index 0: Wert 10
Index 1: Wert 20
Index 2: Wert 30
Index 3: Wert 40

5. Durch `dict` iterieren

In [ ]:
student = {"Name": "Anna", "Alter": 25, "Kurs": "Python"}

for schluessel in student:
    print(schluessel, "->", student[schluessel])

Name -> Anna
Alter -> 25
Kurs -> Python

In [ ]:
# Beispiel-Dictionary für einen Studenten
student = {"Name": "Anna", "Alter": 25, "Kurs": "Python"}

# Schleife, die durch die Schlüssel-Wert-Paare des Dictionaries geht und sie ausgibt
for schluessel, wert in student.items():
    print(f"{schluessel}: {wert}")

Name: Anna
Alter: 25
Kurs: Python

## 6. Durch Mengen (`set`) iterieren
Mengen (`set`) speichern Elemente ohne bestimmte Reihenfolge und ohne Duplikate

In [ ]:
farben = {"rot", "blau", "grün"}

for farbe in farben:
    print(farbe)

rot
blau
grün

## 7. List Comprehensions

Wenn man eine neue transformierte Liste erstellen moechte, benutzt man sehr oft List Comprehensions.

In [ ]:
zahlen = [1, 2, 3, 4, 5, 6, 7, 8, 9]
quadrate = [x**2 for x in zahlen]
print(zahlen)
print(quadrate)

zahlen [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
zahlen = [1, 2, 3, 4, 5, 6, 7, 8, 9]
qubic = [x**3 for x in zahlen]
print("zahlen", zahlen)
print(qubic, "qubic")

zahlen [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 8, 27, 64, 125, 216, 343, 512, 729] qubic

In [ ]:
# Beispiel-Daten
zahlen = [1, 2, 3, 4, 5]

# Das gleiche macht folgende Schleife:
quadrate = []
for x in zahlen:
    quadrate.append(x**2)

print("quadrat", quadrate)

quadrat [1, 4, 9, 16, 25]

## 8. `for` mit `else` – Eine seltene, aber coole Python-Eigenschaft

Python erlaubt eine `else-Klausel nach einer for-Schleife. Diese wird nur ausgeführt, wenn die Schleife nicht durch break unterbrochen wurde:

In [ ]:
for x in range(5):
    if x == 3:
        print("Gefunden!")
        break
else:
    print("Nicht gefunden!")  # Wird nur ausgeführt, wenn `break` nicht erreicht wurde

Gefunden!

In [ ]:
for x in range(5):
    if x == 2.1:
        print("Gefunden!")
        break
else:
    print("Not fond!")  # Wird nur ausgeführt, wenn `break` nicht erreicht wurde

Not fond!